{% extends 'base.html.twig' %}

{% block content %}
  <div class="jumbotron">
    <p>If you have flat-feet, high arch feet or plantar fasciitis this website is here to help you get the footwear you need. We have found that the right gear can make all the difference in the healing process or at least keep symptoms at bay. Hopefully we can point you in the right direction. Click to review the registered <a href="/stores">STORES</a> or  <a href="/brands">BRANDS</a>. Please consider contributing to this site by registering stores and brands to our database.</p>
  </div>
  <!-- jumbotron -->
  <div class="well">
    <p class="quote"><em>"Keens have changed my life."</em> - Carlos :-)</p>
  </div>
  <!-- well -->
{% endblock %}
