<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Shoe-Business-PDX</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href='styles.css' rel='stylesheet' type='text/css'>
    </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-xs-4">
            <a href="/">HOME</a>
          </div>
          <div class="col-xs-2">
            <a href="/stores">STORES</a>
          </div>
          <div class="col-xs-2">
            <a href="/brands">BRANDS</a>
          </div>
        </div>
      </nav>
      <!-- navbar -->
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <h1>Comfy Shoe</h1>
            <h3><em>Your resource for orthopedic shoes and insoles in PDX</em></h3>
          </div>
          <!-- jumbotron -->
          <div class="jumbotron">
            <p>If you have flat-feet, high arch feet or plantar fasciitis this website is here to help you get the footwear you need. We have found that the right gear can make all the difference in the healing process or at least keep symptoms at bay. Hopefully we can point you in the right direction. Click to review the registered <a href="/stores">STORES</a> or  <a href="/brands">BRANDS</a>. Please consider contributing to this site by registering stores and brands to our database.</p>
          </div>
          <!-- jumbotron -->
          <div class="well">
            <p class="quote"><em>"Keens have changed my life."</em> - Carlos :-)</p>
          </div>
          <!-- well -->
        </div>
        <!-- col -->
      </div>
      <!-- row   -->
    </div>
    <!-- container -->
  </body>
</html>
