{% extends 'base.html.twig' %}

{% block content %}
<div class="jumbotron page-title">
  <h3>{{ store_name }}</h3>
  <h4>You've succesfully deleted this store</h4>
  <a href="/stores">Back to Stores</a>
</div>

{% endblock %}
